<!DOCTYPE html>

<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Noteworthy</title>
      <script src="//www.parsecdn.com/js/parse-1.6.7.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>
    <body>
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center bootstrap-welcome">
              <h1 style="font-size: 4em">Noteworthy</h1>

              <p class="lead">
                A simple yet powerful note sharing ecosystem!
              </p>
            </div>

            <hr>

            <div class="col-md-4">
              <div class="card">
                <img class="card-img-top" src="/assets/img1.jpeg" style="max-width: 100%; max-height: 100%">

                <div class="card-block">
                  <h4 class="card-title">Completely Free</h4>

                  <p class="card-text">
                    Noteworthy is a free platform desgined with the user in mind.
                    Just upload your notes and right away, you gain access to thousands of other students' notes.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card">
                <img class="card-img-top" src="/assets/img3.jpeg" style="max-width: 100%; max-height: 100%">

                <div class="card-block">
                  <h4 class="card-title">Improves Education</h4>

                  <p class="card-text">
                    Today we live in a globally connected society where we are always communicating and sharind data with each
                    other. Education should work no different!
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card">
                <img class="card-img-top" src="/assets/img2.jpeg" style="max-width: 100%; max-height: 100%">

                <div class="card-block">
                  <h4 class="card-title">Earn the Grades you Want</h4>

                  <p class="card-text">
                    Research shows that groups perform better than individuals.
                    By collaborating and communicating with your peers, you will learn more and reap the rewards.
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
    </body>
</html>
