<div class="row">
  <div class="col-sm-12 text-center bootstrap-welcome">
    <h1>Noteworthy</h1>
    <p class="lead">The world's most advbanced note sharing ecosystem!</p>
  </div>

  <hr>

  <div class="card-deck-wrapper">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" alt="hello world">
        <div class="card-block">
          <h4 class="card-title">Completely Free</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" alt="hello world">
        <div class="card-block">
          <h4 class="card-title">Improves Education</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content
            asdfasdfasdfasd.</p>
        </div>
      </div>

    </div>
  </div>
</div>
