<div class="row">
    <div class="col-sm-12 text-center sign-up">
      <h1>Noteworthy</h1>

      <hr>
      <br>

      <div class="col-sm-6 col-sm-offset-3">
        <div class="card">
          <div class="card-header">
            <h5>Create an Account</h5>
          </div>
          <div class="card-block">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Username</span>
              <input type="text" class="form-control" placeholder="Username">
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon2">Password</span>
              <input type="password" class="form-control" placeholder="Password">
            </div>
            <br>
            <button type="button" class="btn btn-success">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
</div>
